name: CI

on:
  # GitHub has started calling new repo's first branch "main" https://github.com/github/renaming
  # The cookiecutter uses the "--initial-branch" flag when it runs git-init
  pull_request:
    branches:
      - "main"
      - "dev"
      - "stable"
  push:
    branches:
      - "main"
  schedule:
    # Weekly tests run on main by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * 0"
  workflow_dispatch:

defaults:
  run:
    # conda setup requires this special shell
    shell: bash -l {0}

jobs:
  test:
    name: Test on ${{ matrix.os }}, Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Additional info about the build
        shell: bash
        run: |
          uname -a
          df -h
          ulimit -a

      # More info on options: https://github.com/marketplace/actions/setup-micromamba
      - uses: mamba-org/setup-micromamba@v1
        with:
          generate-run-shell: false # recommended fix to weird ENOENT error (https://github.com/mamba-org/setup-micromamba/issues/130)
          environment-file: devtools/conda-envs/release-env.yml
          environment-name: mupt-env
          condarc: |
            channels:
              - conda-forge
              - defaults
          create-args: >- 
            python=${{ matrix.python-version }}

      - name: Install package
        run: |
          python -m pip install . --no-deps
          micromamba list

      - name: Run tests
        run: |
          pytest -v --cov=mupt --cov-report=xml --color=yes mupt/tests/

      - name: Run example notebook tests
        run: |
          git clone https://github.com/MuPT-hub/mupt-examples
          pushd mupt-examples
          bash notebook_tests_master.sh
          popd
        # DEV: rm mupt-examples once done?

      - name: CodeCov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml
          flags: unittests
          name: codecov-${{ matrix.os }}-py${{ matrix.python-version }}
